body {
	background-color: lightblue;
  }

table {
	border-collapse: collapse;
  }
  
td {
	text-align: center;
  }

tr th {
	font-family: "Young Serif", Times, serif;
	font-size: 40px;
  }
  
img {
	width: 350px;
	height: 3500px;
  }

tr td {
	
}