body {
	background-color: lightblue;
  }

table {
	border-collapse: collapse;
  }
  
td {
	text-align: center;
  }
  
tr {
	padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

tr th {
	font-family: "Young Serif", Times, serif;
	font-size: 40px;
  }
  
img {
	width: 350px;
	height: 350px;
  }

tr td {
	font-size: 20px;
}