body {
	background-color: lightblue;
  }

table {
	border-collapse: collapse;
  }
  
td {
	text-align: center;
  }
  
tr {
	margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 80px;
    margin-left: 80px;
  }

tr th {
	font-family: "Young Serif", Times, serif;
	font-size: 40px;
  }
  
img {
	width: 350px;
	height: 350px;
  }

tr td {
	font-size: 20px;
	border-style: solid;
	 border-color: navy;
}

